options:
  app-name:
    type: string
    default: "meteor-app"
    description: "Name of your app."
  demo-app:
    type: string
    default: todos
    description: >
      The name of the Meteor demo app to install (leaderboard,
      todos, wordplay, clock, parties). This setting is ignored if
      repo-url is set.
  repo-url:
    type: string
    default: ""
    description: >
      Git or Mercurial repo URL from which the Meteor app will be
      cloned. Leave blank to install a Meteor demo app instead.
  repo-type:
    type: string
    default: "git"
    description: "git or hg"
  repo-revision:
    type: string
    default: ""
    description: >
      Branch name, tag name, or other revision identifier that can
      be used in a `git checkout` or `hg update` command. Default
      is `master` (git) or `default` (hg).
  port:
    type: int
    default: 3000
    description: "Port on which the Meteor app will be exposed."
  bundled:
    type: boolean
    default: false
    description: >
      Set to true if the source repo contains an already-bundled
      Meteor app. If set to true, your repo must contain a top-level
      `bundle/` directory.
